CS project/Shat/Shat/Service References/ShatService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Cerver" elementFormDefault="qualified" targetNamespace="Cerver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Cerver/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cerver" />
  <xs:element name="GetLastMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cerver" minOccurs="0" name="GetLastMessagesResult" nillable="true" type="q1:ArrayOfShatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cerver" minOccurs="0" name="message" nillable="true" type="q2:ShatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cerver" minOccurs="0" name="message" nillable="true" type="q3:ShatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>