P2P project/Shat - client B/Shat/Service References/ShatService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cerver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cerver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShatMessage" nillable="true" type="tns:ShatMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShatMessage" nillable="true" type="tns:ArrayOfShatMessage" />
  <xs:complexType name="ShatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShatMessage" nillable="true" type="tns:ShatMessage" />
</xs:schema>